.container {
  max-width: 600px;
  /* text-align: center; */
  margin: 40px auto;
}
.paginate {
  list-style: none;
  display: flex;
  margin: 0 auto;
}
.page {
  margin-right: 5px;

  background-color: rgb(206, 206, 197);
  border-radius: 3px;
  cursor: pointer;
}
.page:hover {
  background-color: rgb(172, 171, 165);
}
.active {
  background-color: rgb(145, 182, 187);
}
.link {
  display: block;
  padding: 5px 10px;
}
.disable {
  background-color: rgb(239, 247, 247);
  cursor: context-menu;
}
.disable:hover {
  background-color: rgb(239, 247, 247);
}
