.imgContainer {
  width: 312px;
  height: 104px;
  margin-top: 52px;
}
@media (min-width: 769px) {
  .imgContainer {
    width: 600px;
    height: 200px;
    margin: 46px auto 0 auto;
  }
}

.headerImage {
  content: url("../../assets/images/headerMobile.png");
  margin: 0 auto;
}

@media (min-width: 769px) {
  .headerImage {
    content: url("../../assets/images/headerDesktop.png");
    margin: 0 auto;
  }
}
